<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %> 
    <%- include('partials/twitch_button.ejs') %>
    <title><%= botname %></title>
  </head>
  <body>
    <h1>Welcome to <%= botname %>!</h1>

    <p>
      Here is lots of space for you to explain your users what your bot does.
      You can edit it here: <code>views/add.ejs</code><br /><br />
      Connect with your twitch account and <%= botname %> will join your chat!
    </p>

    <a class="twitch-button" href="<%= twitchURL %>">
      <img
        src="/TwitchGlitchWhite.png"
        alt="Glitch"
        aria-hidden="true"
        height="30px"
      />
      Continue with twitch
    </a>
  </body>
</html>
